*{
  padding:0;
  margin: 0;
}
body {
    font-family:sans-serif;
    background-color: #02071a;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:97vw;
    padding: 10px;
}

.top .bi-brightness-high, .top a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color:white;
    display: block;
    padding: 5px 14px;
    background: linear-gradient(to bottom ,violet,#02071a);
    border-radius: 14px; 
}
.Main {
    margin: 28px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.main-top {
    background: linear-gradient(to right ,#9a37f8,violet);
    width:270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 14px;
    padding: 8px 13px 8px 95px;
    box-sizing: border-box;
}

.paper-nav {
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #383636;
    list-style: none;
    padding: 4px 10px; 
    width: 255px;
    box-sizing: border-box;
    border-radius: 14px;
}

.paper-nav li {
    padding: 5px 16px;
    border-radius: 14px;
}
.notes{
  background-color: black;
}

.paper-nav li:hover {
  background-color: #818181 ;
}

.note-list {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 13px;
  margin-top: 10px;
  padding: 17px 0;
  width: 255px;
  box-sizing: border-box;
  border-radius: 14px;
  background-color: #383636;
}


 .note-link {
    padding: 7px 18px 7px 65px ;
    border-radius: 14px;
    background-color: black;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 215px;
    box-sizing: border-box;
 }

 .note-link:hover {
    background-color: #4b624b;
 }
.drop_content_one{
  overflow: hidden;
  height: 0px;
}
.drop_content{
  overflow: hidden;
  height: 0px;
}
